<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;"><i class="fa fa-edit"></i>&nbsp;&nbsp;Change Password</h4>

                            <div class="pull-right">
                                <span ng-show="formInfo.$invalid" class="label label-danger">form not completed</span>
                                <a href="javascript:;" ng-click="save()" class="btn btn-primary" ng-disabled="formInfo.$invalid">Change Password</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <form name="formInfo" class="formObj form-horizontal" novalidate>
                                <div class="form-group">
                                    <label for="currentPassword" class="col-sm-3 control-label">Current Password <span style="color:red">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="password" ng-maxlength="64" class="form-control"  name="currentPassword" id="currentPassword" ng-model="obj.currentPassword" required>
                                        <p ng-show="formInfo.currentPassword.$invalid && !formInfo.currentPassword.$pristine" class="help-block text-danger">Enter a valid password.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newPassword" class="col-sm-3 control-label">New Password <span style="color:red">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="password" ng-maxlength="64" class="form-control"  name="newPassword" id="newPassword" ng-model="obj.newPassword" required>
                                        <p ng-show="formInfo.newPassword.$invalid && !formInfo.newPassword.$pristine" class="help-block text-danger">Enter a valid password.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="verifyPassword" class="col-sm-3 control-label">Verify New Password <span style="color:red">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="password" ng-maxlength="64" class="form-control"  name="verifyPassword" id="verifyPassword" ng-model="obj.verifyPassword" required>
                                        <p ng-show="formInfo.verifyPassword.$invalid && !formInfo.verifyPassword.$pristine" class="help-block text-danger">Enter a valid password.</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
