<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-heading">
					<h4>
						<ul class="nav nav-tabs">
							<li class=""><a href="#/myProfile">Profile</a></li>
							<li class="active"><a href="#/myExpenseList">Expense Report</a></li>
							<li class=""><a href="#/myActivityLog">Activity Log</a></li>
						</ul>
					</h4>
					<div class="options">
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;"><i class="fa fa-building"></i>&nbsp;&nbsp;Expense Report Listing</h4>

                            <div class="pull-right">
                                <a ng-href="#/myExpenseNew" class="btn btn-primary">Add New</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                                	<form name="formInfo" class="formObj form-horizontal" novalidate>
				                            <table ng-table="objTableParams" show-filter="true" class="table">
				                                <tr ng-repeat="item in $data">
				                                    <td data-title="'From Date'" sortable="'fromDate'" filter="{ 'fromDate': 'text' }">
				                                        <a ng-href="#/myExpenseDetail/{{item._id}}">{{formatTime(item.fromDate, 'MM/dd/yy')}}</a>
				                                    </td>
				                                    <td data-title="'To Date'" sortable="'toDate'" filter="{ 'toDate': 'text' }">
				                                        {{formatTime(item.toDate, 'MM/dd/yy')}}
				                                    </td>
				                                    <td data-title="'Action'">
				                                    	<a ng-href="#/myExpenseEdit/{{item._id}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
				                                        <a href="javascript:;" ng-click="deleteObj(item._id)" class="btn btn-primary"><i class="fa fa-minus"></i></a>
				                                    </td>
				                                </tr>
				                            </table>
				                        
                                   	</form>
                               	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
