<div class="container">

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4><i class="fa fa-calendar"></i> Calendar</h4>
                <div class="options">
                    <a href="javascript:;"><i class="fa fa-cog"></i></a>
                    <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                    <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                </div>
            </div>
            <div class="panel-body" id="calendardemo">
                <div id='calendar-drag'></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-grape">
            <div class="panel-heading">
                <h4><i class="fa fa-check"></i> To-do List</h4>
                <!-- <div class="options">
                                <a href="javascript:;"><i class="fa fa-cog"></i></a>
                                <a href="javascript:;"><i class="fa fa-wrench"></i></a>
                                <a href="javascript:;" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                              </div> -->
            </div>
            <div class="panel-body">
                <ul class="panel-tasks">
                    <li class="item-danger">
                        <label>
                            <i class="fa fa-ellipsis-v icon-dragtask"></i>
                            <input type="checkbox">
                            <span class="task-description">Write documentation for theme</span>
                            <span class="label label-info">6 Days</span>
                        </label>
                        <div class="options todooptions">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                <button class="btn btn-default btn-xs"><i class="fa fa-cog"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="item-primary">
                        <label>
                            <i class="fa fa-ellipsis-v icon-dragtask"></i>
                            <input type="checkbox">
                            <span class="task-description">Compile code</span>
                            <span class="label label-primary">3 Days</span>
                        </label>
                        <div class="options todooptions">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                <button class="btn btn-default btn-xs"><i class="fa fa-cog"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="item-info">
                        <label>
                            <i class="fa fa-ellipsis-v icon-dragtask"></i>
                            <input type="checkbox">
                            <span class="task-description">Upload files to server</span>
                            <span class="label label-orange">Tomorrow</span>
                        </label>
                        <div class="options todooptions">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                <button class="btn btn-default btn-xs"><i class="fa fa-cog"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="item-success">
                        <label>
                            <i class="fa fa-ellipsis-v icon-dragtask"></i>
                            <input type="checkbox">
                            <span class="task-description">Call client</span>
                            <span class="label label-danger">Today</span>
                        </label>
                        <div class="options todooptions">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                <button class="btn btn-default btn-xs"><i class="fa fa-cog"></i></button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label>
                            <i class="fa fa-ellipsis-v icon-dragtask"></i>
                            <input type="checkbox">
                            <span class="task-description">Buy some milk</span>
                            <span class="label label-danger">Today</span>
                        </label>
                        <div class="options todooptions">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                <button class="btn btn-default btn-xs"><i class="fa fa-cog"></i></button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label>
                            <i class="fa fa-ellipsis-v icon-dragtask"></i>
                            <input type="checkbox">
                            <span class="task-description">Setup meeting with client</span>
                            <span class="label label-sky">2 Weeks</span>
                        </label>
                        <div class="options todooptions">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                <button class="btn btn-default btn-xs"><i class="fa fa-cog"></i></button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label>
                            <i class="fa fa-ellipsis-v icon-dragtask"></i>
                            <input type="checkbox">
                            <span class="task-description">Pay office rent and bills</span>
                            <span class="label label-sky">3 Weeks</span>
                        </label>
                        <div class="options todooptions">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                                <button class="btn btn-default btn-xs"><i class="fa fa-cog"></i></button>
                            </div>
                        </div>
                    </li>

                </ul>
                <a href="#" class="btn btn-success btn-sm pull-left">Add Tasks</a>
                <a href="#" class="btn btn-default-alt btn-sm pull-right">See All Tasks</a>
            </div>
        </div>
    </div>
</div>

</div> <!-- container -->