<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;"><i class="fa fa-user"></i>&nbsp;&nbsp;{{stringUtil('join', " ", obj.titleName, obj.firstName, obj.middleName, obj.lastname)}}</h4>

                            <div class="pull-right">
                                <a href="#/userEdit/{{obj._id}}" class="btn btn-primary">Edit</a>
                                <a href="javascript:;" ng-click="deleteObj()" class="btn btn-primary">Delete</a>
                                <a href="javascript:;" ng-click="resetPassword()" class="btn btn-primary">Reset Password</a>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="panel panel-gray">
                                <div class="panel-heading">
                                    <h4>User Detail</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Username</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label2">{{obj.username}}</label>
                                                </div>
                                            </div>
											<div class="form-group">
                                                <label for="employee" class="col-sm-6 control-label">Employee</label>
                                                <div class="col-sm-6">
		                                            <label class="control-label2">{{obj.employee?obj.employee.employeeName:''}}</label>
		                                        </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Name</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label2">{{stringUtil('join', " ", obj.titleName, obj.firstName, obj.middleName, obj.lastName)}}</label>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Email</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label2">{{obj.email}}</label>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Phone</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label2">{{obj.phone}}</label>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Mobile</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label2">{{obj.mobile}}</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Role</label>
                                                <div class="col-sm-6">
                                                 	<label class="control-label2">
                                                 		<span ng-repeat="roleItem in obj.role">
                                    						{{$first ? roleItem.name : (", " + roleItem.name)}}
                                    					</span>
                                    				</label>   
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-gray">
                                <div class="panel-heading">
                                    <h4>System Information</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Created By</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label2">{{obj.createdBy}}</label>
                                                    <br>
                                                    <label>{{formatTime(obj.createdTime)}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label">Updated By</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label2">{{obj.updatedBy}}</label>
                                                    <br>
                                                    <label>{{formatTime(obj.updatedTime)}}</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>