<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="arrowcrumbs horizontalOverflow">
			    <a ng-href="#/jobInfoDetail/{{_id}}"><span>Job Information</span></a>
			    <a ng-href="#/jobInfoServiceOrder{{jobInfo.type}}/{{_id}}"><span>Service Order</span></a>
			    <a ng-href="#/jobInfoOutgoingTools{{jobInfo.type}}/{{_id}}"><span>Outgoing Tools Prep</span></a>
			    <!-- <a ng-href="#/jobInfoJarSets/{{_id}}"><span>Jar Settings</span></a> -->
			    <a ng-href="#/jobInfoOnSiteReport/{{_id}}" class="current"><span>On Site Report</span></a>
			    <!-- <a ng-href="#/jobInfoExpenseReport/{{_id}}"><span>Expenses Report</span></a> -->
			</div>
		</div>
	</div>
	<div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;"><i class="fa fa-building"></i>&nbsp;&nbsp;First Alert Report Detail</h4>

                            <div class="pull-right">
                            	<a ng-if="(jobInfo.status._id != '2' || haveAllAccess('@completeJobEdit')) && (myJob(jobInfo) || haveAllAccess('@onSiteEdit'))" ng-href="#/jobInfoOnSiteAlertEdit/{{_id + '|' + obj_id}}" class="btn btn-primary">Edit</a>
                                <a href="javascript:;" ng-click="detailPdf()" class="btn btn-primary">Pdf</a>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="panel panel-gray">
                                <div class="panel-heading">
                                    <h4>First Alert Report Detail</h4>
                                </div>
                                <div class="panel-body">
                                    <form name="formInfo" class="formObj form-horizontal" novalidate>
                                        <div class="col-md-6">
                                        	<div class="form-group">
                                                <label for="technician" class="col-sm-3 control-label">Technician Name</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{obj.technician}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
				                                 <label for="date" class="col-sm-3 control-label">Date of Occurrence</label>
				                                 <div class="col-sm-9">
				                                 	<label class="control-label2">{{formatTime(obj.date, 'MM/dd/yy')}}</label>
				                                 </div>
				                        	</div>
                                            <div class="form-group">
                                                <label for="oilCompany" class="col-sm-3 control-label">Oil Company</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{jobInfo.oilCompany.name}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="serviceCompany" class="col-sm-3 control-label">Service Company</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{jobInfo.serviceCompany.name}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="nature" class="col-sm-3 control-label">Nature of Alert</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{obj.nature}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Run #</label>
                                                <div class="col-sm-9">
                                                	<label class="control-label2">{{approval['run_' + obj.run]}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="holeSize" class="col-sm-3 control-label">Hole Size (in)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{dailyJob.holeSize}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="deviation" class="col-sm-3 control-label">Deviation (deg)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{jobInfo.deviation}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="mudWeight" class="col-sm-3 control-label">Mud Weight (lb/gal)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{svo.mudWt}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="temperature" class="col-sm-3 control-label">Temperature (F)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{jobInfo.temp}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tvd" class="col-sm-3 control-label">TVD (ft)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{obj.tvd}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="casingShoe" class="col-sm-3 control-label">Casing Shoe Depth (ft)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{obj.casingShoe}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="depthStuck" class="col-sm-3 control-label">Depth Stuck (ft)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{obj.depthStuck}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="weightAir" class="col-sm-3 control-label">Tool String Weight in Air (lb)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{approval['wia_' + obj.run]}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        	<div class="form-group">
                                                <label for="weightFluid" class="col-sm-3 control-label">Tool String Weight In Fluid (lb)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{approval['wif_' + obj.run]}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="weakPoint" class="col-sm-3 control-label">Weak Point (lb)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{approval['wp_' + obj.run]}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="nameTool" class="col-sm-3 control-label">Name of Tool String</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">
                                                		<span ng-repeat="toolstring in approval['toolstringName_' + obj.run]">
	                                   						{{$first ? toolstring : (", " + toolstring)}}
	                                   					</span>
                                                	</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="pullSurface" class="col-sm-3 control-label">Lbs Pulled on Cable at Surface (lb)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{obj.pullSurface}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="headTension" class="col-sm-3 control-label">Head Tension (lb)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{obj.headTension}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="jarNo" class="col-sm-3 control-label">Jar Number</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{approval['jarSerial_' + obj.run]}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="jarSetting" class="col-sm-3 control-label">Jar Setting (lb)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{approval['actualJar_' + obj.run]}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="holePressure" class="col-sm-3 control-label">Bottom Hole Pressure (psi)</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{svo.bhp}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="comanComment" class="col-sm-3 control-label">Company Man's Comments</label>
                                                <div class="col-sm-9">
                                                    <textarea name="comanComment" id="comanComment" ng-maxlength="200" ng-model="obj.comanComment" cols="50" rows="4" class="form-control" readonly></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="additionalComment" class="col-sm-3 control-label">Additional Comments</label>
                                                <div class="col-sm-9">
                                                    <textarea name="additionalComment" id="additionalComment" ng-maxlength="200" ng-model="obj.additionalComment" cols="50" rows="4" class="form-control" readonly></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Mail To</label>
                                                <div class="col-sm-9">
                                                    <label class="control-label2">{{obj.mailTo}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
