<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;"><i class="fa fa-list"></i>&nbsp;&nbsp;Toolstring Listing</h4>
                            <div class="btn-group pull-right">
                                <a href="#/toolstringNew" class="btn btn-primary btn-sm ">New Toolstring</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table ng-table="objTableParams" show-filter="true" class="table">
                                <tr ng-repeat="toolstring in $data">
                                    <td data-title="'Code'" sortable="'code'" filter="{ 'code': 'text' }">
                                        <a href="#/toolstringDetail/{{toolstring._id}}">{{toolstring.code}}</a>
                                    </td>
                                    <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
                                        {{toolstring.name}}
                                    </td>
                                    <td data-title="'Category'" sortable="'category'" filter="{ 'category': 'text' }">
                                        {{toolstring.category?toolstring.category:''}}
                                    </td>
                                    <td data-title="'Company'" sortable="'company'" filter="{ 'company': 'text' }">
                                        {{toolstring.company}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
