<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;"><i class="fa fa-building"></i>&nbsp;&nbsp;Jar Manager Detail</h4>

                            <div class="pull-right">
                            </div>
                        </div>
                        <form name="formInfo" class="formObj form-horizontal" novalidate>
	                        <div class="col-md-12">
	                        	<div class="form-group">
	                                <label class="col-sm-6 control-label">Equipment Transfer</label>
	                                <div class="col-sm-6">
	                                	<a ng-href="#/jarManagerTransferList" class="btn btn-primary">List</a>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-6 control-label">Jar Sign In/Out</label>
	                                <div class="col-sm-6">
	                                	<a ng-href="#/jarManagerInOutList" class="btn btn-primary">List</a>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-6 control-label">Outgoing Open Hole Jar Inspection</label>
	                                <div class="col-sm-6">
	                                	<a ng-href="#/jarManagerOpenInspectionList" class="btn btn-primary">List</a>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-6 control-label">Open Hole Jar Leak & Continuity Check - BAKER</label>
	                                <div class="col-sm-6">
	                                	<a ng-href="#/jarManagerOpenLeakBakerList" class="btn btn-primary">List</a>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-6 control-label">Open Hole Jar Leak & Continuity Check - SCHLUMBERGER</label>
	                                <div class="col-sm-6">
	                                	<a ng-href="#/jarManagerOpenLeakBergerList" class="btn btn-primary">List</a>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-6 control-label">Open Hole Jar Leak & Continuity Check - HALLIBURTON</label>
	                                <div class="col-sm-6">
	                                	<a ng-href="#/jarManagerOpenLeakBurtonList" class="btn btn-primary">List</a>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-6 control-label">Outgoing Cased Hole Jar Inspection</label>
	                                <div class="col-sm-6">
	                                	<a ng-href="#/jarManagerCasedInspectionList" class="btn btn-primary">List</a>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-sm-6 control-label">Cased Hole Jar Leak & Continuity Check</label>
	                                <div class="col-sm-6">
	                                	<a ng-href="#/jarManagerCasedLeakBakerList" class="btn btn-primary">List</a>
	                                </div>
	                            </div>
	                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
