<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;"><i class="fa fa-user"></i>&nbsp;&nbsp;Daily Work Log</h4>

                            <div class="pull-right">
                                <span ng-show="formInfo.$invalid || formAddress.$invalid" class="label label-danger">form not completed</span>
                                <a href="javascript:;" ng-click="saveDaily()" class="btn btn-primary" ng-disabled="formInfo.$invalid || formAddress.$invalid">Log Your Work</a>
                                <a href="#/workLog" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="panel panel-gray">
                                <div class="panel-heading">
                                    <h4>Log Work</h4>
                                    <div class="options">
                                    	<div><small>* = Required Information</small></div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-9">
                                        <form name="formInfo" class="formObj form-horizontal" novalidate>
                                            <div class="form-group">
                                                <label for="workDate" class="col-sm-3 control-label">Working Date <span style="color:red">*</span></label>
                                                <div class="col-sm-9">
			                                        <div class="input-group date date-picker" id="workDatePicker">
					                                    <input type="text" class="form-control" name="workDate" id="workDate" ng-model="obj.workDate" placeholder="mm/dd/yy" required readonly>
					                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					                                </div>
                                                    <p ng-show="formInfo.workDate.$invalid && !formInfo.workDate.$pristine" class="help-block text-danger">Enter a valid date.</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="workingDesc" class="col-sm-3 control-label">Work Description <span style="color:red">*</span></label>
                                                <div class="col-sm-9">
                                                    <textarea name="desc" id="desc" ng-maxlength="500" ng-model="obj.desc" cols="50" rows="4" class="form-control" required></textarea>
                                                    <p ng-show="formInfo.desc.$invalid && !formInfo.desc.$pristine" class="help-block text-danger">not a valid description.</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
